<!DOCTYPE html>

<html lang="en">



  <head>



    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">

    <meta name="author" content="">



    <title>La meilleure landing page du monde !!! </title>



    <!-- Bootstrap core CSS -->



  </head>



  <body>



    <!-- Masthead -->

    <header class="masthead text-white text-center">

      <div class="overlay">
        <%= image_tag("te.jpg", class:"mainImage") %>
      </div>

      <div class="container">

        <div class="row">

          <div class="col-xl-9 mx-auto">

            <h1 class="mb-5">Bonjour tizautes !</h1>

          </div>

          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

<!--             <form>

              <div class="form-row">

                <div class="col-12 col-md-9 mb-2 mb-md-0">

                  <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">

                </div>

               <div class="col-12 col-md-3">

                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>

                </div>

              </div>

            </form> -->

          </div>

        </div>

      </div>

    </header>



    <!-- Icons Grid -->

    <section class="features-icons bg-light text-center">

      <div class="container">

        <div class="row">

          <div class="col-lg-4">

            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">

              <div class="features-icons-icon d-flex">

                <i class="icon-screen-desktop m-auto text-primary"></i>

              </div>

              <h3>La communauté comme professeur</h3>

              <p class="lead mb-0">800 personnes toutes plus sympas les unes que les autres sont prêtes à vous soutenir !</p>

            </div>

          </div>

          <div class="col-lg-4">

            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">

              <div class="features-icons-icon d-flex">

                <i class="icon-layers m-auto text-primary"></i>

              </div>

              <h3>Formation gratuite</h3>

              <p class="lead mb-0">Tu paies une caution de 314.15€ que tu peux récupérer à la fin si tu le souhaites pour aller tout dépenser en maroilles au Super U de Maubeuge. Yummy !</p>

            </div>

          </div>

          <div class="col-lg-4">

            <div class="features-icons-item mx-auto mb-0 mb-lg-3">

              <div class="features-icons-icon d-flex">

                <i class="icon-check m-auto text-primary"></i>

              </div>

              <h3>Où sommes-nous ? </h3>

              <p class="lead mb-0">Partout, sauf à Maubeuge ! Mais tu peux venir à Caen, Lille... n'importe où en France tant que t'évites la ligne 13 du métro parisien. </p>

            </div>

          </div>

        </div>

      </div>

    </section>



    <!-- Image Showcases -->

    <section class="showcase">

      <div class="container-fluid p-0">

        <div class="row no-gutters">



          <div class="col-lg-6 order-lg-2 text-white showcase-img toto" >

            <%= image_tag("clavier.jpg") %>

          </div>

          <div class="col-lg-6 order-lg-1 my-auto showcase-text">

            <h2>9 semaines de code</h2>

            <p class="lead mb-0">Tu vas voir, ça paraît court mais certaines journées te paraissent durer des années</p>

          </div>

        </div>

        <div class="row no-gutters">

          <div class="col-lg-6 text-white showcase-img" >
           
            <%= image_tag("great.jpg") %>

        </div>

          <div class="col-lg-6 my-auto showcase-text">

            <h2>Et après ?</h2>

            <p class="lead mb-0">Et après, tu seras le roi du pétrole, mon pote ! Auto-entrepreneur, dev, meuble à La Felicita... Le monde des jeunes actifs pas très dynamiques t'ouvre ses portes !</p>

          </div>

        </div>

        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img">
             <%= image_tag("code.jpg") %>
          </div>

          <div class="col-lg-6 order-lg-1 my-auto showcase-text">

            <h2>Langages enseignés </h2>

            <p class="lead mb-0">Ruby, Ruby on Rails, JavaScript... autant de langages qui sonnent si doux à l'oreille mais qui vont te faire vivre un enfer. A toi le metro, codo, dodo (et adieu les potos #smileyquipleure</p>

          </div>

        </div>

      </div>

    </section>





  <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Si tu veux quitter Maubeuge ASAP, inscris-toi à la newsletter !</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div id="mc_embed_signup">
              <form action="https://github.us19.list-manage.com/subscribe/post?u=b728ced87263c3b19d2b6f0e0&amp;id=ba548eac5e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Subscribe to our mailing list
                </label>
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                   <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_b728ced87263c3b19d2b6f0e0_ba548eac5e" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Footer -->

    <footer class="footer bg-light">

      <div class="container">

        <div class="row">

          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">

            <ul class="list-inline mb-2">

              <li class="list-inline-item">

                <a href="#">About</a>

              </li>

              <li class="list-inline-item">&sdot;</li>

              <li class="list-inline-item">

                <a href="#">Contact</a>

              </li>

              <li class="list-inline-item">&sdot;</li>

              <li class="list-inline-item">

                <a href="#">Terms of Use</a>

              </li>

              <li class="list-inline-item">&sdot;</li>

              <li class="list-inline-item">

                <a href="#">Privacy Policy</a>

              </li>

            </ul>

            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>

          </div>

          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">

            <ul class="list-inline mb-0">

              <li class="list-inline-item mr-3">

                <a href="#">

                  <i class="fab fa-facebook fa-2x fa-fw"></i>

                </a>

              </li>

              <li class="list-inline-item mr-3">

                <a href="#">

                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>

                </a>

              </li>

              <li class="list-inline-item">

                <a href="#">

                  <i class="fab fa-instagram fa-2x fa-fw"></i>

                </a>

              </li>

            </ul>

          </div>

        </div>

      </div>

    </footer>



    <!-- Bootstrap core JavaScript -->

    <script src="vendor/jquery/jquery.min.js"></script>

    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



  </body>



</html>